body {
  background-color: rgb(29, 29, 29);
  color: rgb(29, 29, 29);
  font-family: "Roboto Condensed", sans-serif;
}

.hero-content {
  background-image: url("scrum\ kopio.jpeg");
  min-height: 600px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  margin-top: -2%;
}

.hero-title {
  text-align: center;
  color: white;
  font-size: 50px;
  text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
}

.nameplate {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* .navigator {
  text-align: center;
  position: relative;
  min-height: 180px;
}

.bg-image {
  background-image: url("nameplate.jpg");
  min-height: 180px;
  background-position: center;
  background-size: 70% auto;
  background-repeat: no-repeat;
  position: relative;
  background-color: black;
  max-width: 75rem;
  margin: 0 auto;
}

header li a {
  text-decoration: none;
  color: white;
  margin: 40px;
}

.linkSection {
  position: absolute;
  top: 130px;
  right: 0;
  bottom: 0;
  left: 0;
}

header ul li {
  display: inline-block;
} */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  background-color: white;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#undercon {
  width: 350px;
  height: 303px;
  display: block;
  padding-bottom: 10px;
}

#scrum {
  width: 350px;
  height: 303px;
  display: block;
  padding-bottom: 10px;
}

#comingSoon {
  width: 450px;
  height: 303px;
  display: block;
  padding-bottom: 10px;
}

#learnMore {
  width: 350px;
  height: 303px;
  display: block;
  padding-bottom: 10px;
}

.bigFoot {
  background-color: black;
  text-align: center;
  font-size: 12px;
  color: white;
  padding-top: 5px;
  padding-bottom: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.paperworkTitle {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: -5px;
}

.nameLabel {
  padding-right: 5px;
}

.nameInput {
  width: 250px;
  border-radius: 5px;
}

.emailLabel {
  padding-right: 6px;
}

.emailInput {
  width: 250px;
  border-radius: 5px;
}

.bigLabel {
  margin-left: -12px;
  padding-right: 3px;
}

.bigInput {
  width: 250px;
  border-radius: 5px;
}

.theButton {
  margin-bottom: 10px;
  border-radius: 5px;
}
