* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2023bd;
  color: rgb(29, 29, 29);
  font-family: "Roboto Condensed", sans-serif;
}

/*hero image plus styling */
.hero {
  background-image: url("Geiranger-fjord.png");
  min-height: 40rem;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: 100% auto;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

/* background for navbar on scroll*/
/* .hero::after {
  content: "";
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  min-height: 40rem;
  width: 100%;
  top: 1px;
  left: 0;
  display: none;
} */

.naviBar {
  position: fixed;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000;
  width: 100%;
  margin-top: -1rem;
  padding: 3rem 1.5rem 0;
  text-decoration: none;
  z-index: 99;
}

.bg {
  background-color: rgb(0, 0, 0, 0.8);
  transition: 0.5s ease-in-out;
  z-index: 99;
}

.itsameMikke {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin-left: 3rem;
  font-weight: 600;
  z-index: 99;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  margin-right: 2rem;
}

li {
  padding: 1rem;
}

/* on hover adds drop shadow and switches colour to make the links more readable*/
a:hover {
  text-decoration: underline;
}

.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 15rem;
  font-size: 3.75rem;
  font-weight: 400;
  text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
}

.headerBack {
  background-color: rgb(0, 0, 0, 0.8);
}

/* To top arrow button */
#arrowUp {
  position: fixed;
  font-size: 1.5rem;
  right: 3rem;
  bottom: 3rem;
  z-index: 100;
  font-size: 50px;
  color: #2c2d70;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
  display: none;
}

#arrowUp:active {
  transform: translateY(7px);
}

main {
  margin: 0 auto;
}

#mobileButton {
  display: none;
}

#projectSect {
  background-color: white;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}

.myProject {
  margin-bottom: 1.5rem;
}

/*Outer div for card section. For Projects*/
.cardset {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 02;
}

/*inner div that wraps individual cards*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(110%);
  transition: 1s;
}

.poke {
  width: 100%;
  height: auto;
}

.speedgame {
  width: 100%;
  height: auto;
}

.listMaker {
  width: 100%;
  height: auto;
}

/* div for card content except image*/
.card1container {
  padding: 0.5rem 0.5rem;
}

.card1container p {
  width: 24rem;
}

.card1container a {
  color: #2023bd;
}

/*Outer section for About Me*/
#meAbout {
  background-color: #e1e1e1;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2rem;
}

.aboutmeDivBox {
  display: flex;
}

/* header */
.aboutMe {
  margin-bottom: 1.5rem;
}

/* about me paragraph styling*/
.infoAboutMe {
  margin-right: 1.5rem;
}

/* my photo, obviously*/
.myPhoto {
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

/* styling for Skill section cards*/
.skillCardset {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*skill section*/
#alltheSkills {
  background-color: #ffffff;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2rem;
}

/*header*/
.skills {
  margin-bottom: 1.5rem;
}

/*inner div that wraps individual cards*/
.skillCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0.7rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.5s;
}

.skillCard:hover {
  /* transform: skewX(-25deg);
  transform: skewY(-25deg); */
  /* transform: skew(-10deg, 25deg); */
  transition: 0.5s;
  transform: rotate(10deg) translate(10%, 20%);
}

/* div for card content except image*/
.skillCardContainer {
  padding: 0.5rem 0.5rem;
}

/* footer section styling*/
#bigFoot {
  background-color: black;
  text-align: center;
  font-size: 12px;
  color: white;
  padding-top: 5px;
  padding-bottom: 25px;
  margin: 0 auto;
}

/*footer form styling*/
.paperwork {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* header */
.paperworkTitle {
  font-size: 25px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.nameLabel {
  padding-right: 0.5rem;
}

.nameInput {
  width: 250px;
  border-radius: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.emailLabel {
  margin-top: 0.5rem;
  padding-right: 0.6rem;
}

.emailInput {
  margin-top: 0.5rem;
  width: 250px;
  border-radius: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.textBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bigLabel {
  margin-top: 0.5rem;
  margin-left: -0.9rem;
  padding-right: 0.8rem;
}

.bigInput {
  margin-top: 0.5rem;
  width: 15.5rem;
  border-radius: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.theButton {
  width: 9rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  background-color: #0e06f7;
  color: white;
  font-size: large;
  font-style: italic;
}

.theButton:hover {
  box-shadow: 0 3px 3px 0 #a5a5a5, 0 3px 3px 0 #a5a5a5;
}

.theButton:active {
  box-shadow: 0 3px 3px 0 #a5a5a5, 0 3px 3px 0 #a5a5a5;
  transform: translateY(7px);
}

.codeBadge {
  padding-top: 0.2rem;
  width: auto;
}

section,
footer {
  scroll-margin-top: 5rem;
}

/* Gallery css */
.galleryHeader {
  display: flex;
  background-color: #2023bd;
  min-height: 6rem;
  width: 100%;
  height: auto;
}

.galleryArea {
  display: grid;
  background-color: #ffffff;
  grid-template-areas:
    "mikke norge norge norge"
    "mikke piippu piippu piippu"
    "forest bjj2 bjj2 wales"
    "scrum bjj2 bjj2 wales"
    "canoe canoe canoe canoe";
  grid-auto-columns: 0.5fr;
  grid-auto-rows: 0.2fr;
  padding: 1rem;
  gap: 1rem;
}

.piippu {
  grid-area: piippu;
}

.mikke {
  grid-area: mikke;
}

.piippuKuva {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mikkeKuva {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.canoe {
  grid-area: canoe;
}

.kanootti {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bjj2 {
  grid-area: bjj2;
}

.bjjMikke {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wales {
  grid-area: wales;
}

.devilFalls {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.norge {
  grid-area: norge;
}

.norja {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.scrum {
  grid-area: scrum;
}

.scrumKuopio {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.forestMe {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.forest {
  grid-area: forest;
}

@media (max-width: 854px) {
  .hero {
    background-image: url("Geiranger-fjord.png");
    min-height: 30rem;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: 180% auto;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .hero {
    background-image: url("Geiranger-fjord.png");
    min-height: 40rem;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: 120% auto;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
  }
}

@media (max-width: 1066px) {
  .hero {
    background-image: url("Geiranger-fjord.png");
    min-height: 40rem;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: 140% auto;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
  }
}

@media (max-width: 914px) {
  .hero {
    background-image: url("Geiranger-fjord.png");
    min-height: 30rem;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: 140% auto;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
  }
}

/* Media styling for devices with max width up to 812px */
@media (max-width: 812px) {
  /*hero image plus styling */
  .hero {
    background-image: url("Geiranger-fjord.png");
    min-height: 25rem;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: 190% auto;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
  }

  .naviBar {
    position: fixed;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 10px #353535, 0 0 10px #353535, 0 0 10px #353535;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-decoration: none;
  }

  .itsameMikke {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 600;
  }

  ul {
    display: none;
  }

  nav.responsive ul {
    position: absolute;
    left: 0;
    top: 6.5rem;
    width: 60%;
    display: block;
    transition: width 2s, height 2s, transform 2s;
  }

  nav.responsive ul li a {
    margin-left: 1rem;
    display: block;
  }

  nav.responsive ul li {
    background-color: rgb(0, 0, 0, 0.9);
    position: relative;
    left: 55vw;
    display: block;
  }

  nav.responsive li:hover {
    background-color: rgba(50, 50, 50, 0.9);
  }

  .naviBar.responsive {
    background-color: rgb(0, 0, 0, 0.9);
  }

  a:hover {
    color: white;
    text-decoration: underline;
    text-shadow: none;
  }

  #mobileButton {
    display: block;
    font-size: 36px;
    color: #ffffff;
    background-color: transparent;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
    border: none;
    margin-right: 1.5rem;
    display: block;
  }

  .hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 10rem;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
  }

  /* To top arrow button */
  #arrowUp {
    position: fixed;
    font-size: 3rem;
    right: 3rem;
    bottom: 3rem;
    z-index: 100;
    color: #2c2d70;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
    display: none;
  }

  #arrowUp:active {
    transform: translateY(6px);
  }

  .myPhoto {
    width: 60%;
    height: 60%;
  }

  #projectSect {
    padding-top: 2rem;
  }

  #meAbout {
    padding-top: 2rem;
  }

  .aboutmeDivBox {
    flex-direction: column;
  }

  .infoAboutMe {
    padding-bottom: 1rem;
  }

  #alltheSkills {
    padding-top: 2rem;
  }

  .skillCard i {
    font-size: 8rem;
  }

  .theButton {
    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: #0e06f7;
    color: white;
    font-size: medium;
    font-style: italic;
  }
}

/* For screens smaller than 605px. Adds mobile menu button. */
@media (max-width: 605px) {
  /*hero image plus styling */
  .hero {
    background-image: url("Geiranger-fjord.png");
    min-height: 20rem;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: 190% auto;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
  }

  .hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 10rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
  }

  .naviBar {
    position: fixed;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 10px #353535, 0 0 10px #353535, 0 0 10px #353535;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-decoration: none;
  }

  .itsameMikke {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 600;
  }

  ul {
    display: none;
  }

  nav.responsive ul {
    position: absolute;
    left: 0;
    top: 6.5rem;
    width: 60%;
    display: block;
    transition: width 2s, height 2s, transform 2s;
  }

  nav.responsive ul li a {
    margin-left: 1rem;
    display: block;
  }

  nav.responsive ul li {
    background-color: rgb(0, 0, 0, 0.9);
    position: relative;
    left: 55vw;
    display: block;
  }

  nav.responsive li:hover {
    background-color: rgba(50, 50, 50, 0.9);
  }

  .naviBar.responsive {
    background-color: rgb(0, 0, 0, 0.9);
  }

  a:hover {
    color: white;
    text-decoration: underline;
    text-shadow: none;
  }

  #mobileButton {
    display: block;
    font-size: 36px;
    color: #ffffff;
    background-color: transparent;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
    border: none;
    margin-right: 1.5rem;
    display: block;
  }

  #arrowUp {
    position: fixed;
    font-size: 3rem;
    right: 1.5rem;
    bottom: 3rem;
    z-index: 100;
    color: #2c2d70;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
    display: none;
  }

  #arrowUp:active {
    transform: translateY(5px);
  }

  .theButton {
    width: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: #0e06f7;
    color: white;
    font-size: small;
    font-style: italic;
  }
  .myPhoto {
    width: 60%;
    height: 60%;
  }

  #projectSect {
    padding-top: 2rem;
  }

  #meAbout {
    padding-top: 2rem;
  }

  .aboutmeDivBox {
    flex-direction: column;
  }

  .infoAboutMe {
    padding-bottom: 1rem;
  }

  #alltheSkills {
    padding-top: 2rem;
  }

  .skillCard i {
    font-size: 8rem;
  }
}

@media (max-width: 526px) {
  .hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 10rem;
    font-size: 2.2rem;
    font-weight: 400;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
  }

  .skillCard i {
    font-size: 7rem;
  }
}

@media (max-width: 508px) {
  .cardset {
    flex-direction: column;
  }

  .skillCard i {
    font-size: 5rem;
  }

  .skillCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin: 0 0.3rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .skillCardContainer h4 {
    font-size: small;
  }

  .skillCardContainer progress {
    width: 6rem;
  }
}

@media (max-width: 442px) {
  .hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 10rem;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
  }

  #arrowUp {
    position: fixed;
    font-size: 2rem;
    right: 1rem;
    bottom: 1.5rem;
    z-index: 100;
    color: #2c2d70;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
    display: none;
  }

  #arrowUp:active {
    transform: translateY(5px);
  }

  .itsameMikke {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 600;
  }

  #mobileButton {
    display: block;
    font-size: 36px;
    color: #ffffff;
    background-color: transparent;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
    border: none;
    margin-right: 1rem;
    display: block;
  }
}

@media (max-width: 369px) {
  .hero {
    background-image: url("Geiranger-fjord.png");
    min-height: 17rem;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: 100% auto;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
  }

  .hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 10rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
  }
}
