* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2023bd;
  color: rgb(29, 29, 29);
  font-family: "Roboto Condensed", sans-serif;
}

/*hero image plus styling */
.hero {
  background-image: url("scrum\ kopio.jpeg");
  min-height: 40rem;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: 100% auto;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}

/* background for navbar on scroll*/
/* .hero::after {
  content: "";
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  min-height: 40rem;
  width: 100%;
  top: 1px;
  left: 0;
  display: none;
} */

.naviBar {
  position: fixed;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 10px #353535, 0 0 10px #353535, 0 0 10px #353535;
  width: 100%;
  margin-top: -1rem;
  padding: 3rem 1.5rem 0;
  text-decoration: none;
}

.itsameMikke {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin-left: 5rem;
  font-weight: 600;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  margin-right: 2rem;
}

li {
  padding: 1rem;
}

/* on hover adds drop shadow and switches colour to make the links more readable*/
a:hover {
  color: #0e06f7;
  text-decoration: underline;
  text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
}

.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 15rem;
  font-size: 60px;
  font-weight: 400;
  text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
}

.headerBack {
  background-color: #2c2d70;
}

/* To top arrow button */
#arrowUp {
  position: fixed;
  font-size: 1.5rem;
  right: 3rem;
  bottom: 3rem;
  z-index: 100;
  font-size: 50px;
  color: #2c2d70;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
  display: none;
}

main {
  margin: 0 auto;
}

#projectSect {
  background-color: white;
  padding-top: 3.5rem;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}

.myProject {
  margin-bottom: 1.5rem;
}

/*Outer div for card section. For Projects*/
.cardset {
  display: flex;
  justify-content: space-around;
}

/*inner div that wraps individual cards*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

/* div for card content except image*/
.card1container {
  padding: 0.5rem 0.5rem;
}

.card1container a {
  color: #2023bd;
}

/*Outer section for About Me*/
#meAbout {
  background-color: #e1e1e1;
  padding-top: 3.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2rem;
}

.aboutmeDivBox {
  display: flex;
}

/* header */
.aboutMe {
  margin-bottom: 1.5rem;
}

/* about me paragraph styling*/
.infoAboutMe {
  margin-right: 1.5rem;
}

/* my photo, obviously*/
.myPhoto {
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

/* styling for Skill section cards*/
.skillCardset {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*skill section*/
#alltheSkills {
  background-color: #ffffff;
  padding-top: 3.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2rem;
}

/*header*/
.skills {
  margin-bottom: 1.5rem;
}

/*inner div that wraps individual cards*/
.skillCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0.7rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

/* div for card content except image*/
.skillCardContainer {
  padding: 0.5rem 0.5rem;
}

/* footer section styling*/
#bigFoot {
  background-color: black;
  text-align: center;
  font-size: 12px;
  color: white;
  padding-top: 5px;
  padding-bottom: 25px;
  margin: 0 auto;
}

/*footer form styling*/
.paperwork {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* header */
.paperworkTitle {
  font-size: 25px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.nameLabel {
  padding-right: 0.5rem;
}

.nameInput {
  width: 250px;
  border-radius: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.emailLabel {
  margin-top: 0.5rem;
  padding-right: 0.6rem;
}

.emailInput {
  margin-top: 0.5rem;
  width: 250px;
  border-radius: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.textBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bigLabel {
  margin-top: 0.5rem;
  margin-left: -0.9rem;
  padding-right: 0.8rem;
}

.bigInput {
  margin-top: 0.5rem;
  width: 15.5rem;
  border-radius: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.theButton {
  width: 6rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
